# --- Python Core ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Environments ---
.env
.env.dev
.env.test
.venv
env/
venv/
ENV/

# --- VS Code Specific ---
.vscode/

# --- Testing & Coverage ---
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover

# --- Databases & Data ---
/data/
*.log
db.sqlite3
db.sqlite3-journal
*.pdf
!tests/*.pdf
*.jpg
*.xlsx
*.xls

# --- DevOps & Tools ---
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints
.dockerignore

# --- OS Specific ---
.DS_Store
Thumbs.db